<div class="container">

    <h1 class="mt-3">All Persons</h1>
  
    <div class="d-flex justify-content-end mt-3">
      <a [routerLink]="['/person/add']" class="btn btn-primary rounded-pill">Add Person</a>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <a [routerLink]="['/man']" class="btn btn-primary rounded-pill">All Men</a>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <a [routerLink]="['/item']" class="btn btn-primary rounded-pill">All Items</a>
    </div>
  
    <ng-container *ngIf="persons">
      <!-- <table class="table table-bordered mt-3"> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>File Name</th>
            <th>File Type</th>
            <th>Preview</th>
            <th>Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons; let i = index">
            <td>{{i+1}} {{person.id}}</td>
            <td>{{person.name}}</td>
            <td>{{person.city}}</td>
            <td>{{person.filename}}</td>
            <td>{{person.type}}</td>
            <!-- <td><img src={{person.image}} alt={{person.filename}} width="100" height="50"></td> -->
            <td><img [src]="person.image" alt={{person.filename}} width="100" height="50"></td>
            <td>{{person.size}}</td>
            <td>
              <input type="button" class="btn btn-success" (click)="DownloadFile(person.id, person.type, person.filename)" value="Download"/>|
              <input type="button" class="btn btn-danger" (click)="onDirectDelete(person.id)" value="Direct Delete"/>
              <!-- <a class="btn btn-sm btn-danger rounded-pill" (click)="onDirectDelete(person.id)">Direct Delete</a> -->
            </td>
            <td>
              <!-- <a class="btn btn-sm btn-outline-primary rounded-pill" [routerLink]="['/man/details', man.id]">Details</a>| -->
              <!-- <a class="btn btn-sm btn-outline-primary rounded-pill" [routerLink]="['/man/edit', man.id]">Edit</a>| -->
              <!-- <a class="btn btn-sm btn-outline-danger rounded-pill" [routerLink]="['/man/delete', man.id]">Delete</a> | -->
              <!-- <a class="btn btn-sm btn-danger rounded-pill" (click)="onDirectDelete(man.id)">Direct Delete</a> --> 
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  
  </div>